* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  margin: 20px
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
}

.card {
  padding: 20px;
  margin: 10px;
  /* background-color: #C0C0C0; */
  border: 2px solid black;
  border-radius: 10px;
  flex: 1;
  text-align: center
}

.App {
  color: red;
  text-align: center
}

.Counter {
  color: green
}

.Color {
  color: blue
}

.Name {
  color: purple
}

.formGroup label {
  margin-right: 15px;
}

button {
  padding: 8px
}